name: Build MacOS release

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Release message'
        required: true
        default: 'MacOs build'
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'


jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Display inputs
        run: |
          echo "Building from branch: ${{ github.event.inputs.branch }}"
          echo "Release message: ${{ github.event.inputs.message }}"

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - run: flutter --version
      - name: Build application
        run: flutter build macos --release
      - name: Run Tests
        run: flutter test

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          tagged_version="$version-build-${{ github.run_number }}"
          echo "VERSION=$tagged_version" >> $GITHUB_ENV
      - name: Zip build for upload
        run: |
          cd build/macos/Build/Products/Release/
          ditto -c -k --sequesterRsrc --keepParent "TRA Viewer.app" "TRA-Viewer-macos.zip"
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/macos/Build/Products/Release/TRA-Viewer-macos.zip"
          body: "${{ github.event.inputs.message }}"
          tag: v${{ env.VERSION }}
          token: ${{ secrets.BUILDS_TOKEN }}
