name: Build Windows release

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Release message'
        required: true
        default: 'Windows build'
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'


jobs:
  build:
    runs-on: windows-latest # Use a Windows runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6 # Action to check out your repository code

      - name: Display inputs
        run: |
          echo "Building from branch: ${{ github.event.inputs.branch }}"
          echo "Release message: ${{ github.event.inputs.message }}"

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2 # Action to install and set up Flutter
        with:
          channel: stable # Specify the Flutter channel (e.g., stable, beta)
      - run: flutter --version
      - name: Install dependencies
        run: flutter pub get # Get Flutter package dependencies
      - name: Enable Windows Desktop support
        run: flutter config --enable-windows-desktop
      - name: Build application
        run: flutter build windows --release # Build the macOS app in release mode
      - name: Debug Build Output
        run: |
          echo "Contents of build/..."
          ls build/windows/x64/runner/release

      # Also: https://github.com/TheDoctor0/zip-release
      - name: Create Release Zip
        run: |
          cd build/windows/x64/runner/Release
          Compress-Archive -Path * -DestinationPath build/TRA-Viewer.zip -Force
        shell: powershell

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Check if Tag Exists
        id: check_tag
        run: |
          if git rev-parse "v${{ env.VERSION }}" >/dev/null 2>&1; then
            echo "TAG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "TAG_EXISTS=false" >> $GITHUB_ENV
          fi
      - name: Modify Tag
        if: env.TAG_EXISTS == 'true'
        id: modify_tag
        run: |
          new_version="${{ env.VERSION }}-build-${{ github.run_number }}"
          echo "VERSION=$new_version" >> $GITHUB_ENV
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/TRA-Viewer.zip"
          body: "${{ github.event.inputs.message }}"
          tag: v${{ env.VERSION }}
          token: ${{ secrets.BUILDS_TOKEN }}
