name: Build Windows release

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Release message'
        required: true
        default: 'Windows build'
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'

env:
  ROOT: "${{ github.workspace }}"

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - name: Display inputs
        run: |
          echo "Building from branch: ${{ github.event.inputs.branch }}"
          echo "Release message: ${{ github.event.inputs.message }}"

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - run: flutter config --enable-windows-desktop
      - run: flutter --version
      
      - name: Build application
        env:
          RUNNER_DIR: ${{ env.ROOT }}/build/windows/x64/runner
          RELEASE_DIR: ${{ env.ROOT }}/build/windows/x64/runner/Release
        shell: bash
        run: |
          flutter build windows --release

          # Copy needed runtime DLLs
          cp "${WINDIR}/system32/msvcp140.dll" "$RELEASE_DIR"
          cp "${WINDIR}/system32/vcruntime140.dll" "$RELEASE_DIR"
          cp "${WINDIR}/system32/vcruntime140_1.dll" "$RELEASE_DIR"
          # echo "Contents of build"
          # ls "$RELEASE_DIR"
      - name: Run Tests
        run: flutter test

      - name: Extract version from pubspec.yaml
        id: extract_version
        shell: bash
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          tagged_version="$version-build-${{ github.run_number }}"
          echo "VERSION=$tagged_version" >> $GITHUB_ENV
      - name: Create Release Zip
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: TRA-Viewer-win.zip
          directory: ${{ env.ROOT }}/build/windows/x64/runner/Release
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/windows/x64/runner/Release/TRA-Viewer-win.zip"
          body: "${{ github.event.inputs.message }}"
          tag: v${{ env.VERSION }}
          token: ${{ secrets.BUILDS_TOKEN }}
