name: Build Windows release

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Release message'
        required: true
        default: 'Windows build'
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'


jobs:
  build:
    runs-on: windows-latest # Use a Windows runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6 # Action to check out your repository code

      - name: Display inputs
        run: |
          echo "Building from branch: ${{ github.event.inputs.branch }}"
          echo "Release message: ${{ github.event.inputs.message }}"

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2 # Action to install and set up Flutter
        with:
          channel: stable # Specify the Flutter channel (e.g., stable, beta)
      - run: flutter --version
      - name: Install dependencies
        run: flutter pub get # Get Flutter package dependencies
      - name: Enable Windows Desktop support
        run: flutter config --enable-windows-desktop
      - name: Build application
        run: flutter build windows --release # Build the macOS app in release mode
      # - name: Debug Build Output
      #   run: |
      #     echo "Contents of build"
      #     ls build/windows/x64/runner/Release

      - name: Create Release Zip
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: TRA-Viewer.zip
          directory: build/windows/x64/runner/Release

      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          tagged_version="$version-build-${{ github.run_number }}"
          echo "VERSION=$tagged_version" >> $GITHUB_ENV
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/windows/x64/runner/Release/TRA-Viewer.zip"
          body: "${{ github.event.inputs.message }}"
          tag: v${{ env.VERSION }}
          token: ${{ secrets.BUILDS_TOKEN }}
